body.plain {
  background-color: lightgrey;
}
body.plain h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body.orangy_fun {
  background-color: orange;
}
body.orangy_fun h1 {
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}